<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head'); -%>
<body>
    <%- include('layouts/header'); -%>
   <%- include('layouts/navbar'); -%>    
   <div class="main">
       <div class="container" style="height: 400px;">
       <label>Title :</label>       
       <input type="text" style="width: 500px">
       <label>Text :</label>
       <input type="text" style="width: 500px; height: 100px">
       <button type="submit" style="width: min-content;">Update</button>
       </div>
   </div>
   <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
</body>
</html>