<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head'); -%>
<body>
   <%- include('layouts/header'); -%>
    <%- include('layouts/navbar'); -%>
   
   <div class="row">
       <div class="main">
        <div class="post_image" style="background-image: url('<%= blogpost.image %>')"></div>
        <h1><%= blogpost.title %></h1>
            <h2><%= blogpost.body %></h2>
            <span>Posted by <a href="#"><%= blogpost.userid.username %></a></span>
        <article>
            <%= blogpost.datePosted %>
        </article>
       </div>
   </div>
   <%- include('layouts/footer'); -%>
   <%- include('layouts/scripts'); -%>
</body>
</html>